# Reference only: export these variables in your shell or web server.
UNIGO_ENV=local
UNIGO_DEMO_MODE=0
UNIGO_DEBUG=0
UNIGO_BASE_URL=http://localhost/unigo/public
UNIGO_DB_HOST=127.0.0.1
UNIGO_DB_PORT=3306
UNIGO_DB_NAME=unigo_db
UNIGO_DB_USER=root
UNIGO_DB_PASS=
UNIGO_HTTPS=0
UNIGO_SUPPORT_PHONE=
UNIGO_SUPPORT_EMAIL=
UNIGO_EMERGENCY_HOTLINE=
